// App colors and other variables
@import "../../styles/colors.scss";
@import "../../styles/media-queries.scss";

// Custom variables for this view
$aside-background-color: lighten($primary-color, 20%);
$active-aside-background-color: lighten($aside-background-color, 15%);

// Custom styles for the Aside Component
#aside {
  background-color: $aside-background-color;

  ul {
    width: 100%;
    margin: 15px 0;
    position: fixed;
    color: $background-color;
  }

  li {
    padding: 10px 25px 10px 15px;

    &.active {
      background-color: $active-aside-background-color;
      border-left: 3px solid;
    }
  }

  a {
    display: flex;
    font-size: 14px;
    color: $background-color;
    text-decoration: none;
    cursor: pointer;
  }
}

// Responsive styles for aside component
@media #{$max-width-2} {
  #aside {
    display: none;
    width: 100%;
    height: calc(100vh - 60px);
    opacity: 0;
    transition: opacity 500ms linear;

    position: absolute;
    top: 60px;
    left: 0;
  }
}

@media #{$min-width-2} {
  #aside {
    display: block !important;
    opacity: 1 !important;
    min-width: 230px;

    ul {
      width: 230px;
    }
  }
}
