// App colors and other variables
@import "./colors.scss";

@mixin main-button($back-color) {
  background-color: $secondary-color;
  color: $back-color;
  border: 1px solid transparent;
  transition: all 250ms linear;
  cursor: pointer;

  &:hover {
    background-color: $back-color;
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}