// App colors and other variables
@import "../../styles/colors.scss";
@import "../../styles/media-queries.scss";
@import "../../styles/mixins.scss";

// Custom variables for this view
$login-background-color: lighten($primary-color, 70%);

// Custom styles for Login view
#form-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $login-background-color;

  img {
    width: 60px;
    margin-bottom: 15px !important;
  }

  form {
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 20px;
    border-radius: 5px;
  }

  p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  input, button {
    font-size: 14px;
    height: 35px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  input {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  button {
    @include main-button($background-color);
  }

  .error-line {
    color: $error-color;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

// Responsive styles for login view
@media #{$min-width-2} {
  #form-section form {
    width: 360px;
  }
}